.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Links escondidos por padrão */
#myLinks {
  display: none;
}

/* Quando o menu estiver ativo */
#myLinks.show {
  display: block;
}

.topnav a,
.topnav button {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

/* Botão do menu */
.topnav .icon {
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
}

/* Hover */
.topnav a:hover,
.topnav button:hover {
  background-color: #ddd;
  color: black;
}

/* Link ativo */
.active {
  background-color: #04AA6D;
  color: white;
}
